<div class="row-fluid cwmcont">
 <div class="row">
	<%= form_for(@cite) do |f| %>
	<div id="cwm-sidebar" class="span3 swell">
		
		<p class="lead">Editing cite</p>

		<%= link_to 'Cancel', sauces_path+'/'+@cite.sauce_id %> | <%= link_to 'Save', "#", :onclick=>"$('.edit_cite').submit()" %> </p>
			
	</div>  
	

 
	<div id="foo2" class="span8 ">

		
		  <% if @cite.errors.any? %>
		    <div id="error_explanation">
		      <h2><%= pluralize(@cite.errors.count, "error") %> prohibited this sauce from being saved:</h2>

		      <ul>
		      <% @cite.errors.full_messages.each do |msg| %>
		        <li><%= msg %></li>
		      <% end %>
		      </ul>
		    </div>
		  <% end %>

		  <div class="field">
		    <%= f.text_area :content, :class => "span8" %>
		  </div>

	</div>
	
	<% end %>
		
</div>
<br>
    </div>   
