<h1>Listing sources</h1>

<table class="table table-bordered table-striped">
  <tr>
    <th id="author_header">Author</th>
    <th id="title_header">Title</th>
    <th id="year_header">Year</th>
    <th></th>
    <th></th>
    <th></th>
  </tr>

<% @sauces.each do |sauce| %>
  <tr>
    <td><b><%= sauce.author %> (<%= sauce.cites.count %>)</b></td>
    <td><a href="/sauces/show/<%= sauce.id %>"><%= sauce.title %></a></td>
    <td><%= sauce.year %></td>
    <td><%= link_to 'Add citations', sauce %></td>
    <td><%= link_to 'Edit', edit_sauce_path(sauce) %></td>
    <td><%= link_to 'Destroy', sauce, confirm: 'Are you sure?', method: :delete %></td>
  </tr>
<% end %>
</table>

<br />

<%= link_to 'New Sauce', new_sauce_path %> or <%= link_to 'import new source from google books', "/sauces/import_google_books" %>
<script>

var table = $('table');
$('#author_header, #title_header, #year_header')
    .wrapInner('<span title="sort this column"/>')
    .each(function(){

        var th = $(this),
            thIndex = th.index(),
            inverse = false;

        th.click(function(){

            table.find('td').filter(function(){

                return $(this).index() === thIndex;

            }).sortElements(function(a, b){

                if( $.text([a]) == $.text([b]) )
                    return 0;

                return $.text([a]) > $.text([b]) ?
                    inverse ? -1 : 1
                    : inverse ? 1 : -1;

            }, function(){

                // parentNode is the element we want to move
                return this.parentNode; 

            });

            inverse = !inverse;

        });

    });
</script>