


<div class="row-fluid cwmcont">
 <div class="row">
	<div id="cwm-sidebar" class="span3 swell">
		<p id="notice"><%= notice %></p>	
		
		<p class="lead">Current source:</p>
	<ul><li><b><%= @sauce.author %></b> (<%= @sauce.year %>): <%= @sauce.title %>.</li>
	</ul>
<p>

</p>		
			
		<p class="lead">How to add citations:</p>
		<dl class="dl-horizontal">
			<dt><i class="icon-font"></i></dt><dd><strong>Type</strong> or <strong>copy</strong> your citation into the textfield below.</dd>
			<dt><i class="icon-tag"></i></dt><dd>Use <strong>#</strong> to mark #words oder #short_sentences as <strong>#tags</strong>.</dd>
			<dt><i class="icon-book"></i></dt><dd>End your citation with <strong>^</strong> followed by one or more <strong>page numbers</strong> (e.g. ^2) </dd>
			<dt><i class="icon-ok-circle"></i></dt><dd><strong>Press Enter</strong> to save the citation and clear the textfield.</dd>
			<dt><i class="icon-bold"></i></dt><dd>Type of copy your next citation into the texfield...</dd>
		</dl>
	
		
			
	</div>  
	
	<div id="cwm-textareadiv" class="span3">
	<%= form_for(@cite, :remote => true) do |g| %>
	<span class="ajax_message">&nbsp;</span><br>	
	    <%= g.text_area :content,  :class => "span12 well", :id => "mytextarea", :cols => 10, :rows => 60 %>
	   <%= g.hidden_field :sauce_id, :value => @sauce.id %><%= g.hidden_field :page, :value => "No Page" %>

	<% end %>
	</div>
 
	<div id="foo" class="span5 ">
		
			<% @cites.each do |cite| %>
			<blockquote id="blockquote<%= cite.id %>" class="blockquotecite">
				<p><%= cite.content %></p>
				<small><%= cite.sauce.author %> (<%= cite.sauce.year %>), p. <%= cite.page %>.</small><span style="display: none; "><%= link_to 'Edit', edit_cite_path(cite) %> - <a href="/cites/<%= cite.id %>"  data-method="delete" data-remote="true" rel="nofollow" onclick="destroyblockquote(this)">Destroy</a></span>
			</blockquote>
			<% end %>
		
	</div>	
		
</div>
<br>
    </div>   

	<script>
	startup_show ("<%= @sauce.author %> (<%= @sauce.year %>)");
	</script>