<div class="row-fluid cwmcont">
 <div class="row">
	<div id="cwm-sidebar" class="span3 swell">
		
		<p class="lead">Results for:</p>
	<p><b><%= @sauce.author %></b>(<%= @sauce.year %>): <%= @sauce.title %></p>
	<p class="lead">and:</p>
	<p class="lead"><b> <%= @hashtag %></b></p>
	<p><%= link_to_function "Go back", "history.back()" %> or <%= link_to 'add citations to this source', @sauce %></p>

<p><%= link_to "Export as .txt", :controller => "cites", :action => "create_file_by_hashtag_and_sauce", :search => @hashtag, :source => @sauce.id %></p>
			
	</div>  
	

 
	<div id="foo2" class="span8 ">

			<% @cites.each do |cite| %>
			<blockquote id="blockquote<%= cite.id %>" class="blockquotecite">
				<p><%= cite.content %></p>
				<small><%= cite.sauce.author %> (<%= cite.sauce.year %>), p. <%= cite.page %>.</small><span style="display: none; "><%= link_to 'Edit', edit_cite_path(cite) %> - <a href="/cites/<%= cite.id %>" data-confirm="Are you sure?" data-method="delete" data-remote="true" rel="nofollow" onclick="destroyblockquote('blockquote#blockquote<%= cite.id %>')">Destroy</a></span>
			</blockquote>
			<% end %>

	</div>
	
		
</div>
<br>
    </div>   







	<script>
	startup_show_only();
	</script>