<!DOCTYPE html>
<html>
<head>
  <title>citewith#me</title>
  <%= stylesheet_link_tag    "application", :media => "all" %>
 
  <%= javascript_include_tag "application" %>
  <%= csrf_meta_tags %>
</head>
<body>
	<div class="navbar navbar-fixed-top">
	    <div class="navbar-inner">
	        <div class="container">
	            <a class="brand" href="/">citewith<span>#</span>me</a>
	            <ul class="nav">
					<li class=""><a href="/sauces">sources</a></li>
					<li class=""><a href="/htags">#hashtags</a></li> 
					<li class=""><a href="/about">about</a></li> 
					<% if user_signed_in? %>   
					<li class=""><a href="/users/sign_out" data-method="delete" rel="nofollow">logout (<%= current_user.email %>)</a></li>
					
					<% end %>            

					
	            </ul>

				<form class="navbar-search pull-right" accept-charset="UTF-8" action="/cites/search" method="get">
					<input name="utf8" type="hidden" value="&#x2713;" />
						    <input id="search" class="search-query" name="search" type="text" placeholder="search citation" />
						  
				</form>
	        </div>
	    </div>
	</div>
	<div class="container">
	   <%= yield %>
	
	</div>
		
</body>
</html>
